<form [ngFormModel]="form" (ngSubmit)="changePassword()">
    <div class="form-group">
        <label for="currentpassword">Current Password: </label>
        <input id="currentpassword"  class="form-control" type="text" ngControl="currentpassword" #currentpassword="ngForm">
        

        <div *ngIf="currentpassword.touched && currentpassword.errors">
            <div class="alert alert-danger" *ngIf="currentpassword.errors.required">Old Password is required.</div>
        </div>
        
        
    </div>
    <div class="form-group">
        <label for="newpassword">New Password: </label>
        <input id="newpassword" class="form-control" type="text" ngControl="newpassword" #newpassword="ngForm">
        

        <div *ngIf="newpassword.touched && newpassword.errors">
            <div class="alert alert-danger" *ngIf="newpassword.errors.required">New Password is required.</div>
            <div class="alert alert-danger" *ngIf="newpassword.errors.minlength">New Password should be at least {{newpassword.errors.minlength.requiredLength}} characters.</div>
        </div>

        
    </div>
    <div class="form-group">
        <label for="confirmpassword">Confirm Password: </label>
        <input id="confirmpassword"  class="form-control" type="text" ngControl="confirmpassword" #confirmpassword="ngForm">

        <div *ngIf="confirmpassword.touched && confirmpassword.errors">
            <div class="alert alert-danger" *ngIf="confirmpassword.errors.required">Confirming Password required.</div>
            <div class="alert alert-danger" *ngIf="confirmpassword.errors.confirmPasswordInvalid">Confirm Password must match New Password.</div>
        </div>
        
    </div>
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>